### Machine Learning - Group Project

Comparing various Machine Learning algorithms

In [2]:
import pandas as pd
import numpy as np

1) Problem Selection

Choose a real-world dataset (e.g., healthcare prediction, customer churn, text classification).

The dataset must contain both features and class labels.

In [3]:
# Step 1: Load the dataset
df = pd.read_csv('CollegePlacement.csv')
# Get rows and columns
"Rows:", df.shape[0], "; Columns:", df.shape[1]

('Rows:', 10200, '; Columns:', 10)

In [4]:
# Display the dataset
df

,IQ,Major,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement
0,107.0,Finance,6.61,6.28,8.0,No,8.0,8.0,4.0,No
1,97.0,Restaurant,5.52,5.37,8.0,No,7.0,8.0,0.0,No
2,109.0,Engineering,5.36,5.83,9.0,No,3.0,1.0,1.0,No
3,122.0,Pharmacy,5.47,5.75,6.0,Yes,1.0,6.0,1.0,No
4,96.0,Finance,7.91,7.69,7.0,No,8.0,10.0,2.0,No
...,...,...,...,...,...,...,...,...,...,...
10195,106.0,Finance,5.57,7.85,3.0,No,NaN,9.0,2.0,No
10196,87.0,Pharmacy,5.56,6.78,3.0,No,3.0,NaN,2.0,No
10197,102.0,Pharmacy,8.12,9.93,2.0,Yes,6.0,2.0,4.0,Yes
10198,101.0,Finance,8.58,8.03,4.0,No,0.0,3.0,4.0,Yes
10199,NaN,Psychology,7.80,6.19,7.0,NaN,5.0,5.0,2.0,No

2) Data Preparation

Handle missing values, normalize or scale numerical features, and encode categorical variables.
Split data into training and testing sets (for supervised and semi-supervised learning).

In [5]:
# Display columns with missing values
"Missing values in each column:\n", df.isnull().sum()

('Missing values in each column:\n',
 IQ                        10
 Major                      0
 Prev_Sem_Result           39
 CGPA                      21
 Academic_Performance      21
 Internship_Experience     29
 Extra_Curricular_Score    19
 Communication_Skills      38
 Projects_Completed        13
 Placement                  0
 dtype: int64)

In [6]:
# Display the numerical columns
print("Numerical columns in the dataset:")
print(df.select_dtypes(include=['number']).columns.tolist())
# Display the categorical column names
print("Categorical columns in the dataset:")
print(df.select_dtypes(include=['object']).columns.tolist())

Numerical columns in the dataset:
['IQ', 'Prev_Sem_Result', 'CGPA', 'Academic_Performance', 'Extra_Curricular_Score', 'Communication_Skills', 'Projects_Completed']
Categorical columns in the dataset:
['Major', 'Internship_Experience', 'Placement']

For Categorical Variables (Binary Output like 0/1), fill in the missing values with Mode

In [8]:
df['Internship_Experience'] = df['Internship_Experience'].fillna(df['Internship_Experience'].mode().iloc[0])

For Integer Variables, we also fill in the missing values with Mode

Upon reading the dataset, we see that the integer columns are 'IQ', 'Academic_Performance', 'Extra_Curricular_Score', 'Communication_Skills', and 'Projects_Completed'. Even though they are depicted as floats in this dataset, they only contain zero-decimal values.

In [14]:
discrete_columns = ['IQ', 'Academic_Performance', 'Extra_Curricular_Score', 'Communication_Skills', 'Projects_Completed']
for i in discrete_columns:
    df[i] = df[i].fillna(df[i].mode().iloc[0])